.thumb {
  background-color: var(--mantine-color-gray-2) ;
  border: none;
  outline: none;
}

.mark {
  background-color: var(--mantine-color-gray-4);
  border: none;
  width: 2px;
}

.markLabel {
  font-size: var(--mantine-font-size-xs);
}
