/* This is a CSS file to customize the look of our rc-dock windows, using their exising
   classnames */

.dock-tab .dock-tab-btn {
  padding-right: 0.2rem;
  color: var(--mantine-color-dimmed);
}

.dock-tab-active .dock-tab-btn {
  color: var(--mantine-color-bright);
}
