body {
  background-color: transparent !important;
}

/* Override rc-dock windows css */
.dock-layout > :not(.dock-fbox) {
  .dock-panel.dock-style-headless {
    background-color: transparent;
    user-select: none;

    .dock-bar:hover,
    .dock-bar:focus-within,
    &.dock-panel-dropping .dock-bar {
      opacity: 0;
    }
  }
}

.dock-panel {
  background-color: var(--mantine-color-dark-9) ;
}

.dock-style-headless {
  flex-shrink: 1 !important;
  flex-grow: 1 !important;
}

.dock-divider {
  /* Stops OpenSpace from receiving docked-panel drag events */
  background: rgba(0, 0, 0, 0.05);
}
