.thumb {
  background-color: var(--mantine-color-gray-2) !important;
  border: none !important;
  outline: none !important;
}

.mark {
  background-color: var(--mantine-color-gray-4) !important;
  border: none !important;
  width: 2px !important;
  /* This makes the mark centered on the actual value */
  transform: translateX(100%);
}
