@supports selector(::-webkit-scrollbar) {
  .scroller::-webkit-scrollbar {
    width: 13px;
    height: 13px;
    background-color: transparent;
    border-radius: 100px;
  }

  .scroller:hover::-webkit-scrollbar {
    background-color: var(--mantine-color-dark-8);
  }

  .scroller::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: var(--mantine-color-dark-3);
    border: 3px solid transparent;
    background-clip: content-box;
    transition: border 0.5s linear;
  }

  .scroller:hover::-webkit-scrollbar-thumb {
    background-color: var(--mantine-color-dark-1);
  }

  .scroller::-webkit-scrollbar-thumb:hover {
    border: 0px solid transparent;
  }
}
